
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
	font-family: Verdana,Geneva,sans-serif;
}


/* Style the header */
header {
	background-color: darkolivegreen;
    color: #fff;
    padding: 30px;
    text-align: center;

}

header img{
	width: 15%;
	height: auto;	
}

nav ul {
    list-style: none;
	padding: 30px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

main{
	background: url(../images/clark-van-der-beken-zKnQnyARggY-unsplash.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}





h1{
	font-size: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 20px;
}

h4 a{
	text-decoration: none;
}

h5{
	font-size: 10px;
}

section{
	padding: 20px;
	flex: 1 0 10px;
}


.flexing{
	display: flex;
	flex-flow: row wrap;
}


p {
    line-height: 1.5;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	flex-basis: 75%;
	padding-right: 2px;
		
}

main section img{
	width: 10%;
	height: fit-content;
	padding: 2px;
	flex-basis: 10%;
}
/* 
<!--article{
	display: flex;
	flex-flow: column;
	flex: 1 0 10px;
	align-items: start;
}

div {
	width: 25%;
	height:auto;
}

div:first-child{
	width: 50%;
	height: auto;
} */

article{
	display: grid;
	grid-template-columns: repeat(auto-fit);


}

footer{
	background-color: orangered;
	color: #fff;
	text-align: center;

}


/* not working, come back to it later */
footer:hover{
	transition:20% ease-in-out;
}
/* just this part */


footer h5::before{
	content:"😏";
}

footer h5::after{
	content: "🤖"
}


.titles{
	font-family: Andale Mono,AndaleMono,monospace; 
}

p, main section img {
	flex: 1;
}

p, main section img :first-child {
	flex: 5 0 50%;
}
 /* this was tough */
p, main section img:nth-child(3) {
	align-self:center;
}
