/* all of it */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font for the whole body */
body {
    font-family: Arial, sans-serif;
}
/* all headers besides my name in the header */
h2, h3, h4, h5, h6 {
	font-weight: bolder;
	color: #be3e31;
	font-family: Verdana,Geneva,sans-serif;
}

a{
 text-shadow: 2px 2px 5px #00829d;
 transition: transform .3s ease;
 color: darkkhaki;
 text-decoration: none;
}
img{
	border-radius: 25px;
	border-color: #be3e31;
	border-style: ridge;
	border-width: 5px;
}


a:hover{
	font-size: 20px;
}

a:hover img{
	transform: scale(.7);
}


/* Style the header */
header {
	background-color: #2b7146;
    color: #fff;
    padding: 0px;
	max-height: 300px;
}

header p {position: absolute;
	color:firebrick;
	top:250px;
	left: 50%;
}

/* my pic in the header */
header img{
	width: 15%;
	height: auto;	
}
/* nav list set up */
nav ul {
	padding: 30px;
	justify-content: end;
}
/* list items in nav */
li {
	display: inline;
    margin-right: 10px;
}
/* nav list anchors */
nav ul li a {
	display: grid;
	grid-template-columns: 25px 100px;
	color: #fff;
    padding: 5px 10px;
	justify-content: end;
	
}
/* everything besides the header and footer */
main{
	background: url(../images/clark-van-der-beken-zKnQnyARggY-unsplash.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
    max-width: 100%;
    margin:5px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* name */
h1{
	font-size: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* sizes for headers */
h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 10px;
}
/* about me */
section{
	padding:0px;
	flex: 1 0 10px;
}
/* only used in first section, so far, might replace h4 in articles*/
p {
	line-height: 1.5;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	flex-basis: 75%;
	padding-right: 2px;
}

hr{
	margin: 0 auto;
	background-color:#febd00;
	border:none;
	border-radius: 25px;
	height: 20px;
	width: 80%;
}
/* images of pets */
.pets{
	width: 10%;
	height: fit-content;
	padding: 2px;
	flex-basis: 10%;
	border-radius: 25px;
}
/*flex layout for p and images of pets*/
.flexing{
	display: flex;
	flex-flow: row wrap;
}
/* container for works */
.works{
	width: 100%;
	height:auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	gap: 1rem;
	justify-items: center;
}
/* used on "featured works" to center header2 */
#center{
	text-align: center;
}
/* grid setups */
#pic1{
	grid-column: 1/3;
	grid-row: 1;
	z-index: 2;
}

#pic2{
	grid-column: 1;
	grid-row: 2;
	width: 100%;
	height: auto;
	object-fit: cover;
	z-index: 3;
}

#pic3{
	grid-column: 2;
	grid-row: 2;
	height: 100%;
	width: auto;
	object-fit: cover;
	z-index: 4;
}
/* pushing contact me and links to the right */
#right{
	text-align: right;
}

footer{
	background-color: orangered;
	color: #fff;
	text-align: center;
}


/* not working, come back to it later */
footer:hover{
	transition:20% ease-in-out;
}
/* just this part */


footer h5::before{
	content:"😏";
}

footer h5::after{
	content: "🤖"
}

/* font family for nav and where navs click to(articles in 2nd section */
.titles{
	font-family: Andale Mono,AndaleMono,monospace; 
}

/* images of pets ordered, but not sure about the flex numbers */
p, main section img {
	flex: 1;
}

p, main section img :first-child {
	flex: 5 0 50%;
}
 /* this was tough, acts weird with screen downsizing */
p, main section img:nth-child(3) {
	align-self:center;
}
